<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - csharp_boolflix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/csharp_boolflix.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-white border-bottom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 d-flex flex-row justify-content-between px-5">
            <img src="https://boolfix-jdonzelli.netlify.app/img/logo.png" />
            <button class="btn btn-danger">
                <a href="@Url.Action("Login","Access")">
                    ACCEDI
                </a>
            </button>
        </nav>
    </header>

    <main role="main" class="bg-white w-100 overflow-hidden">
        @RenderBody()
    </main>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


