*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-grey{
    background-color: darkgrey
}

.jumbo {
    width: 100%;
    height: 800px;
    position: relative;

}

.jumbo-img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding-bottom: 20px;
    position: absolute;
    left: 20%;
    bottom: 5%;
    background-color: grey;
    opacity: 90%;
}

.card-img{
    width: 100%;
    height: 300px;
    object-fit: scale-down;
}

.left-scroll, .right-scroll {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    z-index: 3;
    width: 40px;
}

.left-scroll {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(50%, -50%);
    display: none;
}

.right-scroll {
    position: absolute;
    top: 50%;
    right: 3%;
    /*display: flex;*/
    transform: translate(-50%, -50%);
}

.wrapper {
    width: 100vw;
    height: 300px;
    /*max-width: 964px;*/
    position: relative;
}

.carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /*position: absolute;
    top: 0%;
    left: 0%;*/
}

.carousel::-webkit-scrollbar {
    height: 0;
}

